service/src/main/resources/Calculate.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Calculate"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:di="http://www.example.org/schema/Calculate"
	xmlns:tns="http://www.example.org/contract/Calculate" targetNamespace="http://www.example.org/contract/Calculate">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/schema/Calculate">
			<xsd:element name="DoubleIt">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="numberToDouble" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DoubleItResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="doubledNumber" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Add">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="factor1" type="xsd:int"></xsd:element>
						<xsd:element name="factor2" type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AddResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="sum" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="Substract">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="factor1" type="xsd:int"></xsd:element>
						<xsd:element name="factor2" type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubstractResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="sub" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="Multiply">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="factor1" type="xsd:int"></xsd:element>
						<xsd:element name="factor2" type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MultiplyResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mul" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="DoubleItRequest">
		<wsdl:part element="di:DoubleIt" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DoubleItResponse">
		<wsdl:part element="di:DoubleItResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="AddRequest">
		<wsdl:part name="parameters" element="di:Add"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="AddResponse">
		<wsdl:part name="parameters" element="di:AddResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SubstractRequest">
		<wsdl:part name="parameters" element="di:Substract"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SubstractResponse">
		<wsdl:part name="parameters" element="di:SubstractResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="MultiplyRequest">
		<wsdl:part name="parameters" element="di:Multiply"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="MultiplyResponse">
		<wsdl:part name="parameters" element="di:MultiplyResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="CalculatePortType">
		<wsdl:operation name="DoubleIt">
			<wsdl:input message="tns:DoubleItRequest" />
			<wsdl:output message="tns:DoubleItResponse" />
		</wsdl:operation>
		<wsdl:operation name="Add">
			<wsdl:input message="tns:AddRequest"></wsdl:input>
			<wsdl:output message="tns:AddResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Substract">
			<wsdl:input message="tns:SubstractRequest"></wsdl:input>
			<wsdl:output message="tns:SubstractResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Multiply">
			<wsdl:input message="tns:MultiplyRequest"></wsdl:input>
			<wsdl:output message="tns:MultiplyResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CalculateBinding" type="tns:CalculatePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="DoubleIt">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Add">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Substract">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Multiply">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CalculateService">
		<wsdl:port name="CalculatePort" binding="tns:CalculateBinding">
			<!-- Default address for Tomcat deployment (CXF/Metro) -->
			<soap:address location="http://localhost:8080/calculate/services/calculate" />
			<!-- Default address for Karaf deployment (CXF only) -->
			<!--soap:address location="http://localhost:8181/cxf/doubleit"/ -->
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions> 